:root {
    --sigma-color-primary-light: #8effd0;
    --sigma-color-primary: #41f0a7;
    --sigma-color-primary-darker: #0e9c61;

    --sigma-color-white: #fff;
    --sigma-color-cinza-claro: #fff;
    --sigma-color-cinza: #fff;
    --sigma-color-cinza-escuro: #fff;
    --sigma-color-preto: #000;

    --sigma-color-texto-principal: #383838;
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.sigma_bg_color {
    background-color: var(--sigma-color-primary);
}
.sigma_text_color {
    color: var(--sigma-color-primary-darker);
}
.sigma_btn_primary {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--sigma-color-white) !important;
    display: inline-flex;
    padding: 10px 20px;
    margin-top: 25px;
    background-color: var(--sigma-color-primary-darker);
    border-radius: 10px;
    outline: none;
}
.sigma_alert {
    display: inline-flex;
    font-size: 1.6rem;
    padding: 10px 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: var(--sigma-color-white);
}
.loading-content {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 100px auto;
    overflow: hidden;
    background: var(--sigma-color-white);
    box-shadow: 10px 10px 20px var(--sigma-color-primary-darker),
        -10px -10px 20px var(--sigma-color-primary-light);
}
.loading-content .loading-content__center-part {
    position: relative;
    top: 50%;
    z-index: 999;
    height: 160px;
    width: 160px;
    transform: translateY(-50%);
    margin-left: 20px;
    border-radius: 100%;
    background: var(--sigma-color-primary);
    box-shadow: inset 5px 5px 20px #cfcfcf, inset -5px -5px 20px #fdfdfd;
}
.loading-content .loading-content__loader {
    position: absolute;
    left: 92.5px;
    /* (width of loading-content / 2) - (width of content__loader / 2) */
    top: 0;
    height: 100%;
    width: 15px;
    -webkit-animation: spin 2s infinite linear;
}
.loading-content .loading-content__loader .loading-content__loader-content {
    height: 40px;
    width: 100%;
    background-color: var(--sigma-color-primary-darker);
    box-shadow: 0 0 10px 1px var(--sigma-color-primary-darker);
}

/* Spin endless */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.logotipo{
  width: 100%;
  max-width: 250px;
}
